* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
.editorconfig export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
CHANGELOG.md export-ignore
